@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300;400;500;600&display=swap");

html{
    width: 100%;
    height: 100%;
}

body{
    flex-direction: column;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: auto;
}

div{
    display: flex;
    position: relative;
    width: 8rem;
    flex-direction: column;
    align-items: center;
    margin: 0.5rem;
    border: .1rem solid black;
    padding: 0.5rem ;
    text-decoration: none;
    border-radius: .2rem;
}

.ft{
    position: relative;
    justify-content: center;
    width: 8rem
}

li{
    display: flex;
    flex-direction: column;
}

header {
    padding: 1rem 0 0 0;
    height: 3rem;
    border-bottom: .1rem solid #A8B5A3;
}

.header-inicial{
    background-color: #B30C00;
    justify-content: flex-start;
    padding: 1rem 0 0 3rem ;
    align-items: center;
}

header p {
    padding: .5rem 0 0 3rem ;
}

.perfil{
    position: absolute;
    top: .5rem;
    left: 0.5rem;
    width: 2rem;
    font-family: 'Spartan', sans-serif;
    color: #B30C00;
}

.perfil_2{
    position: absolute;
    top: .2rem;
    left: 0;
    width: 3rem;
}

.nome_perfil{
    color: #FFEF3C;
    font-size: 2rem;
}

main {
    height: 100%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}


h1{
    text-align: center;
    color: #B30C00;
    font-size: 200%;
    height: 1rem;
    top: 0;
    padding: 0.5rem;
    font-family: 'Spartan', sans-serif;
}

ul {
    flex-grow: 1;
}

a{
    color:white;
    text-decoration: none;
    font-family: 'Spartan', sans-serif;
}

.topicos li {
    text-align: center;
    padding: 1rem;
    display: block;
    margin: 1rem;
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    background-position: 1rem 1rem;
    background-color: #B30C00;
    font-size: 2rem;
    text-decoration: none;
}

.enviada{
    display: flex;
    flex-direction: column;
    margin: 5rem;
    border: 0.3rem solid #B30C00;
    padding: 2rem ;
    text-decoration: none;
    border-radius: .2rem;
}

h2{
    font-size: 160%;
    color:#A8B5A3;
    padding: 1rem;
}

.titulo{
    color: #B30C00;
}

p{
    padding: 1rem 1rem;
    font-size: 150%;
    color: #000000;
    font-family: 'PT Serif', serif;
}

.destaque {
    color: #FFEF3C;
}

.texto li{
    color: black;
    font-size: 100%;
    margin:1rem;
}

.cover {
    position: relative;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg,  #F52414 0%,  #F52414 80%, white 50%, white 100%);
}

.header-aba{
    border-bottom: .1rem solid white;
}

.header-aba p{
    justify-content: flex-start;
    padding: 1rem 0rem 0rem 3rem;
    align-items: flex-start;
    color: #FFEF3C;;
}

.aba li{
    padding: 2rem;
    font-size: 1.5rem;
}

.main-texto{
    justify-content: flex-start;
}

.micro{
    font-size: 1.8rem;
}

footer{
    padding: 1rem;
    position: fixed;
    bottom: 0;
    background-color: white;
    
}

label {
    display: block;
  }

.labels {
    margin: 0.5rem;
    margin-bottom: 0.5rem;
    font-family: 'PT Serif', serif;
}

.caixas{
    flex-direction: column;
    justify-content: start;
    align-items: center;
    margin-top: 7rem;
    font-family: 'PT Serif', serif;
}

.curso{
    margin-bottom: 1rem;
}
.duv{
    margin-bottom: 1rem;
}

.upload{
    margin-top: 0.5rem;
}

.duvida{
    color: #B30C00;
}
